<div class="form-row">
  <h2 style="margin-bottom:0">Email Results (Optional)</h2>
  <p class="description">
    Enter an email address and we'll forward the results of this app to the address. Whether or not you supply an address below, all participants will also have the option of receiving the results via email.
  </p>
  <%= text_field_tag :admin_email, nil, maxlength: 50, class: "ipt-small" %>
</div>