# Ignore bundler config
/.bundle

# Ignore CPLEX and Matlab BGL Libraries for Goods Division
/lib/goods/cplex/
/lib/goods/matlab_bgl/

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea.env 
Gemfile.lock
data.yml
gistfile1.sh
rbenv-vars.rb
/public/assets/
