Spliddit is live! <a href = "http://spliddit.org/">http://spliddit.org/</a>

Spliddit is a not-for-profit academic endeavor. Its mission is twofold:

  1. To provide easy access to carefully designed fair division methods, thereby making the world a bit fairer.

  2. To communicate to the public the beauty and value of research in computer science, mathematics, and economics, from an unusual perspective.

We appreciate your patience, and thank you for your interest. We are currently in public beta, so we'd appreciate it if you would give the website a try and report any bugs on our <a href = "http://spliddit.org/feedback">feedback page</a>.

Sincerely,
Ariel Procaccia
Jonathan Goldman

Note: You are receiving this message because your email address was entered on our homepage in the preceding months. We won't be sending any further messages to this address. 