<%= render 'layouts/text_banner', locals: { title: "Server Error" } %>

<div class="page-content">
    <div class="wrap">
      <p class="lead-paragraph">We've encountered an unexpected error. We apologize for the inconvenience, and would appreciate it if you could report this bug using the <%= link_to "feedback page", feedback_path %>.</p> 
    </div><!--.wrap-->
</div><!--.page-content-->