<%= render 'layouts/text_banner', locals: { title: "Page Not Found" } %>

<div class="page-content">
    <div class="wrap">
      <p class="lead-paragraph">Sorry, but the page you requested was not found.</p> 
    </div><!--.wrap-->
</div><!--.page-content-->