<div class="innerpage-banner">
    <div class="wrap">
        <div class="page-title">
            <h1>Distribute Tasks</h1>
        </div>
        <div class="banner-image">
            <%= image_tag "banners/assigning-chores.png", width: 246, height: 246, alt: "Distribute Tasks" %>
        </div>
    </div><!--.wrap-->
</div><!--.innerpage-banner-->