<div class="span3">
  <center>
    <div class="app-icon">
    <a href = "<%= 'apps/' + application.abbr %>" class="plain">
      <%= image_tag application.abbr + '.png' %>
      <br>
      <strong><%= application.name %></strong>
    </a>
    </div>
  </center>
</div>
