option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: BUNDLE_FORCE_RUBY_PLATFORM
    value: true


packages:
  yum:
    git: []

commands:
  install_java:
    command: sudo yum install -y java
  libsass_fix:
    command: bundle config build.sassc --disable-march-tune-native
