container_commands:
  14downgradepuma:
    command: yes | gem uninstall puma; gem install puma --version 2.6.0 --no-ri --no-rdoc; gem install rack --version 1.4.5 --no-ri --no-rdoc; yes | gem uninstall rack --version 1.5.2; killall -9 puma
    ignoreErrors: true
  fixpath:
    command: ln -s "/var/app/staging/vendor/bundle/ruby/3.2.0/extensions/x86_64-linux/3.2.0/sassc-2.4.0/sassc/libsass.so" "/var/app/staging/vendor/bundle/ruby/3.2.0/gems/sassc-2.4.0/lib/sassc/libsass.so"
    ignoreErrors: true
