files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_db_init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/containerfiles/envvars
      cd $EB_CONFIG_APP_ONDECK
      su -c "leader_only /usr/local/bin/rake db:init_data" $EB_CONFIG_APP_USER ||
      echo "Rake task failed to run, skipping init_data."
      true