sources:
  /home/webapp/MCR: https://s3.amazonaws.com/matlab.runtime/MCR_R2015a_glnxa64_installer.zip
commands:
  01_install_matlab:
    test: test ! -f /opt/elasticbeanstalk/.MCRInstalled
    command: chmod +rwx install && chmod +rwx bin/glnxa64/install_unix && ./install -console -mode silent -agreeToLicense yes -destinationFolder /home/webapp/MCR/INST -javadir /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.51.x86_64/jre
    cwd: /home/webapp/MCR
  02_delete_installer:
    command: ls | grep -v 'INST' | xargs rm -rf
    cwd: /home/webapp/MCR
packages:
  yum:
    libXt.x86_64: []
    libXmu.x86_64: []