<div class="innerpage-banner">
    <div class="wrap">
        <div class="page-title">
            <h1>Split Fare</h1>
        </div>
        <div class="banner-image">
          <%= image_tag "banners/splitting-fare.png", width: 250, height: 246, alt: "Split Fare" %>
        </div>
    </div><!--.wrap-->
</div><!--.innerpage-banner-->