<div class="innerpage-banner">
    <div class="wrap">
        <div class="page-title">
            <h1>Share Rent</h1>
        </div>
        <div class="banner-image">
          <%= image_tag "banners/splitting-rent.png", width: 250, height: 246, alt: "Share rent and assign rooms" %>
        </div>
    </div><!--.wrap-->
</div><!--.innerpage-banner-->