.description-field {
    display: none;
    @include breakpoint($bp-medium) {
        display: block;
    }
}

.form-row {
  @include pie-clearfix;
  margin-bottom: 1.5em;
}

// input[type="text"],
// textarea {
//   border: 0;
//   @include border-radius(5px);
//   border: 1px solid $color-secondary;
//   padding: 5px 10px;
//   font-size: em(15px);
//   line-height: em(24px);
//   outline: none;
// }

// textarea {
//   resize: vertical;
//   overflow: auto;
//   min-width: 400px;
// }

 
 fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

 legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

 button,
 input,
 select,
 textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

 button,
 input {
    line-height: normal;
}

 button,
 input[type="button"], /* 1 */
 input[type="reset"],
 input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

 button[disabled],
 input[disabled] {
    cursor: default;
}

 input[type="checkbox"],
 input[type="radio"] {
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

 input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 button::-moz-focus-inner,
 input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

 textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical;
    &.large {
        width: 100%;
        min-height: 10em;
    }
}


 input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="url"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="week"],
 input[type="number"],
 input[type="search"],
 input[type="tel"],
 input[type="color"],
 select,
 textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 0.8em;
    box-shadow: inset 0 1px 3px #e6e6e6;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

 input[type="text"]:focus,
 input[type="password"]:focus,
 input[type="email"]:focus,
 input[type="url"]:focus,
 input[type="date"]:focus,
 input[type="month"]:focus,
 input[type="time"]:focus,
 input[type="datetime"]:focus,
 input[type="datetime-local"]:focus,
 input[type="week"]:focus,
 input[type="number"]:focus,
 input[type="search"]:focus,
 input[type="tel"]:focus,
 input[type="color"]:focus,
 select:focus,
 textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $color-primary;
}

 input[type="file"]:focus,
 input[type="radio"]:focus,
 input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto $color-primary;
}

 input[type="text"][disabled],
 input[type="password"][disabled],
 input[type="email"][disabled],
 input[type="url"][disabled],
 input[type="date"][disabled],
 input[type="month"][disabled],
 input[type="time"][disabled],
 input[type="datetime"][disabled],
 input[type="datetime-local"][disabled],
 input[type="week"][disabled],
 input[type="number"][disabled],
 input[type="search"][disabled],
 input[type="tel"][disabled],
 input[type="color"][disabled],
 select[disabled],
 textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #ededed;
    background-color: #ededed;
    color: #adadad;
    border-color: #e6e6e6;
}
 input[readonly],
 select[readonly],
 textarea[readonly],
 input[readonly]:focus,
 select[readonly]:focus,
 textarea[readonly]:focus {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
 input:focus:invalid,
 textarea:focus:invalid,
 select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
 input:focus:invalid:focus,
 textarea:focus:invalid:focus,
 select:focus:invalid:focus {
    border-color: #e9322d;
}
 input[type="file"]:focus:invalid:focus,
 input[type="radio"]:focus:invalid:focus,
 input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
 select {
    border: 1px solid #e6e6e6;
    background-color: white;
    height: 31px;
}
 select[multiple] {
    height: auto;
}
 label {
    display: block;
    margin: 1em 0 0.5em 0;
    color: $font-primary-color;
    font-size: 100%;
}
 fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
 legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #262626;
    border-bottom: 1px solid #ededed;
}



/* Grouped Inputs */
 .group fieldset {
    margin-bottom: 10px;
}
 .group input {
    display: block;
    padding: 0.5em 0.6em;
    margin: 0;
    border-radius: 0;
    position: relative;
    top: -1px;
}
 .group input:focus {
    z-index: 2;
}
 .group input:first-child {
    top: 1px;
    border-radius: 4px 4px 0px 0px;
}
 .group input:last-child {
    top: -2px;
    border-radius: 0px 0px 4px 4px;
}
 .group button {
    margin: 0.35em 0;
}

.addon {
  color: $font-primary-color;
}

ul.controls {
    list-style: none;
    margin-left: 0;
    li {
        float: left;
        margin: 0 1.5em 0 0;
    }
}