@import 'breakpoint';
@import 'vars';
@import 'tools';

.logo {
	display: none;
	//padding: 4em 0 1em;
	//max-width: 240px;
	a,a:hover {
		//border: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	//margin: 0 auto;
	@include breakpoint($bp-medium) {
		display: block;
		padding: 1.5em 0;
		margin: 0;
		float: left;
		@include grid(250,1200);
	}
	@include breakpoint($bp-large) {
		@include grid(250,1200);
	}
	@include breakpoint($bp-xlarge) {
		@include grid(300,1200);
	}
}

.header-nav {
	display: none;
	text-align: center;
	@include breakpoint($bp-medium) {
		display: block;
		position: relative;
		top: 2.1em;
		text-align: left;
		float: right;
		@include grid(950,1200);
	}
	@include breakpoint($bp-large) {
		@include grid(950,1200);
	}
	@include breakpoint($bp-xlarge) {
		top: 2.5em;
		@include grid(900,1200);
	}
	ul {
		@include breakpoint($bp-medium) {
			float: right;
			overflow: hidden;
		}
	}
	.nav-set-1 {
		@include breakpoint($bp-medium) {
			padding-right: em(8px);
		}
		@include breakpoint($bp-large) {
			padding-right: em(16px);
		}
	}
	.nav-set-2 {
		@include breakpoint($bp-medium) {
			border-left: 1px solid $color-primary;
			padding-left: em(8px);
		}
		@include breakpoint($bp-large) {
			padding-left: em(16px);
		}
	}	
	// ul {
	// 	@include breakpoint($bp-medium) {
	// 		float: left;
	// 	}
	// }
	li {
		display: block;
		@include breakpoint($bp-medium) {
			float: left;
		}
	}
	.nav-set-2 li {
		&:last-child {
			a {
				@include breakpoint($bp-medium) {
					padding-right: 0;
				}
			}
		}
	}
	.divide {
		display: block;
		padding: 0.8em 0;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-primary;
		@include breakpoint($bp-medium) {
			border: 0;
			font-size: em(14px);
			padding: em(8px);
		}
		@include breakpoint($bp-large) {
			font-size: em(15px);
			padding: em(15px);
		}
		@include breakpoint($bp-xlarge) {
			font-size: em(16px);
		}
	}
	a {
		display: block;
		padding: 0.8em 0;
		text-decoration: none;
		text-transform: uppercase;
		background: $color-primary;
		color: white;
		border-bottom: 1px solid white;
		transition: all 0.25s;
		&:hover, &.active {
			background: $color-secondary;
		}
		@include breakpoint($bp-medium) {
			border: 0;
			font-size: em(14px);
			padding: em(8px);
			background: transparent;
			color: $font-primary-color;
			&:hover, &.active {
				background: transparent;
				color: $color-primary;
			}
		}
		@include breakpoint($bp-large) {
			font-size: em(15px);
			padding: em(15px);
		}
		@include breakpoint($bp-xlarge) {
			font-size: em(16px);
		}
	}
}//.header-nav