@import 'breakpoint';
@import 'vars';
@import 'tools';
@import 'typography';

.home-banner {
	background: url(shared/bg-green.gif) repeat;
	padding: 2em 0;
	@include breakpoint($bp-medium) {
		padding: 7em 0;
	}
	&.narrow {
		@include breakpoint($bp-medium) {
			padding: 5em 0;
		}
	}
	a {
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: #eeeeee;
		}
	}
}

.nav-arrow {
	display: block;
	@include image-replace(90px,89px);
	background: url(home/down-arrow.png) no-repeat;
	margin: 2em auto 0;
	border: 0;
	transition: all .5s;
	&:hover {
		border: 0;
		opacity: 0.5;
	}
	@include breakpoint($bp-medium) {
		margin: 4em auto 0;
	}
}

.page-content.home {
	padding: 2em 0;
	@include breakpoint($bp-medium) {
		padding: 7em 0;
	}
	&.narrow {
		@include breakpoint($bp-medium) {
			padding: 5em 0;
		}
	}
}

.home-columns {
	text-align: center;
	max-width: 1085px;
	margin: 0 auto;
	.column {
		@include breakpoint($bp-medium) {
			min-height: 591px;//was 540px
			position: relative;
		}
		.btn-group {//was .btn
			@include breakpoint($bp-medium) {
				position: absolute;
				bottom: 0px;
				width: 100%;
			}
			@include breakpoint($bp-large) {
				position: static;
				margin: 0 auto;
			}
		}
		img {
			max-width: 160px;
			@include breakpoint($bp-medium) {
				max-width: 100%;
			}
			height: auto;
		}
		h1 {
			margin: 1em 0;
			font-size: em(28px);
			@include breakpoint($bp-large) {
				font-size: em(30px);
			}
			@include breakpoint($bp-xlarge) {
				font-size: em(34px);
			}
		}
		p {
			max-width: 240px;
			display: block;
			margin: 0 auto 1em;
			font-size: em(15px);
			line-height: em(25px);
			@include breakpoint($bp-medium) {
				font-size: em(18px);
				line-height: em(28px);
			}
		}
		margin-bottom: 3em;
		@include breakpoint($bp-medium) {
			&.row-two {
				margin-top: 5em;
				margin-bottom: 0;
				margin-left: 0;
				margin-right: 0;
			}
			&.row-one {
				margin: 0;
			}
			float: left;
			//width: 33%;
			//max-width: 290px;
			@include grid(290,1085);
		}
		&.column-two {
			@include breakpoint($bp-medium) {
				@include mleft(110,1085);
			}
		}
		&.column-three {
			@include breakpoint($bp-medium) {
				float: right;
			}
		}
	}
}

.seen-on {
	background: #eee;
	text-align: center;
	.press-pic {
  	padding: 10px;
	}
	h4 {
		@extend %font-light;
		color: #666;
		font-size: em(34px);
	}
	padding: 2em 0;
	@include breakpoint($bp-medium) {
		padding: 4em 0;	
	}
	li {
		img {
			max-width: 100%;
			height: auto;
		}
		@include breakpoint($bp-medium) {
			float: left;
		}
		&.fc {
			@include breakpoint($bp-medium) {
				@include grid(200,890);
			}
		}
		&.pg {
			@include breakpoint($bp-medium) {
				@include grid(189,890);
			}
		}
		&.nyt {
			@include breakpoint($bp-medium) {
				@include grid(176,890);
			}
		}
		&.naut {
			@include breakpoint($bp-medium) {
				@include grid(125,890);
			}
		}
		&.giz {
			@include breakpoint($bp-medium) {
				@include grid(200,890);
			}
		}
	}
}