@import 'breakpoint';
@import 'vars';
@import 'tools';

*, *:before, *:after {
  //flagging in case this breaks later
  box-sizing: 'border-box';
  *behavior: url(/css/boxsizing.htc); // polyfill to fix box-sizing in older versions of IE
}

.mobile {
	@include breakpoint($bp-medium) {
		display: none;
	}
}

.desktop {
	display: none;
	@include breakpoint($bp-medium) {
		display: block;
	}
}

html {
	overflow-y: scroll; 
}

.site {
	width: 100%;
	overflow-x: hidden;
	padding-top: 3em;
	@include breakpoint($bp-medium) {
		padding: 0;
		overflow-x: scroll;
	}
}

.wrap {
	.wrap::after {
        content: "";
        display: table;
        clear: both;
    }
	margin: 0 auto;
	width: 90%;
	@include breakpoint($bp-medium)	{
		max-width: 740px;
	}
	@include breakpoint($bp-large)	{
		max-width: 960px;
	}
	@include breakpoint($bp-xlarge)	{
		max-width: 1200px;
	}
}

.align-right {
	margin: 1em auto 2em;
	max-width: 281px;
	@include breakpoint($bp-medium) {
		float: right;
		margin: 0 0 1em 0;
	}
	.refresh a {
		margin: 0.5em auto 0;
		@include breakpoint($bp-medium) {
			margin: 0;
			float: right;
		}
	}
}

.align-left {
	margin: 1em auto 2em;
	max-width: 281px;
	@include breakpoint($bp-medium) {
		float: left;
		margin: 0 0 1em 0;
	}
	.refresh a {
		margin: 0.5em auto 0;
		@include breakpoint($bp-medium) {
			margin: 0;
			float: left;
		}
	}
}

.property-info {
	&.left {
		@include breakpoint($bp-medium) {
			float: left;
			@include grid(540,1062);
		}
		@include breakpoint($bp-large) {
			@include grid(660,1062);
		}
	}
	&.right {
		@include breakpoint($bp-medium) {
			float: right;
			@include grid(540,1062);
		}
		@include breakpoint($bp-large) {
			@include grid(660,1062);
		}
	}
}

.content-block {
	.content-block::after {
        content: "";
        display: table;
        clear: both;
    }
	padding: 1em 0;
	@include breakpoint($bp-medium) {
		padding: 1em 0 2em;
	}
	&.last {
		@include breakpoint($bp-medium) {
			padding: 1em 0 0;
		}
	}
}



.lt-ie9 .refresh {
	display: none;
}

.lt-ie9 .wrap {
	width: 960px;
}

.page-content .wrap {
	@include breakpoint($bp-medium)	{
		max-width: 1062px;
	}
}

.lt-ie9 .page-content .wrap {
	width: 864px;
}