@import 'breakpoint';
@import 'vars';
@import 'tools';

.mobile-header {
  z-index: 300;
  background: $color-secondary;
  padding: 0;
  width: 100%;
  position: fixed;
  height: 48px;
  .mobile-header::after {
    content: "";
    display: table;
    clear: both;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  #menu-mobile {
    border: 0;
    float: left;
    @include image-replace(41px,48px);
    background: url(shared/menu-icon.png) no-repeat;
    &:hover {
      border: 0;
    }
  }
  #logo-mobile {
    position: relative;
    top: 12px;
    right: 15px;
    float: right;
    img {
      margin: 0;
    }
  }
}

// was commented out
#sidr .mobile-nav {
  display: none;
}

.mobile-nav a {
  border: 0;
  &:hover {
    border: 0;
  }
}






.sidr {
  display: none;
  //position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 13px;
  border-right: 1px solid #eee;
  background: $color-secondary url(shared/bg-blue.gif) repeat;
  color: white;

  //@include box-shadow(#ebebeb 0 0 5px 5px inset);
  
  .sidr-inner {
    padding: 0 0 15px;
    > p {
      // margin-left: 15px;
      // margin-right: 15px;
    }
  }
  &.right {
    left: auto;
    right: -260px;
  }
  &.left {
    left: -260px;
    right: auto;
  }
  
  p {
    font-size: 13px;
    margin: 0 0 12px;
    a {
      color: rgba(51, 51, 51, 0.9);
    }
  }
  > p {
    // margin-left: 15px;
    // margin-right: 15px;
  }
  ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    // border-top: 1px solid #dfdfdf;
    // border-bottom: 1px solid #fff;
    li {
      display: block;
      margin: 0;
      line-height: 48px;
      //border-top: 1px solid #fff;
      border-bottom: 1px solid white;
      &:hover, &.active, &.sidr-class-active {
        //border-top: none;
        //line-height: 49px;
      }
      &:hover > {
        a, span {
          // -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
          // -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
          // box-shadow: inset 0 0 15px 3px #ebebeb;
        }
      }
      &.active > {
        a, span {
          // -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
          // -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
          // box-shadow: inset 0 0 15px 3px #ebebeb;
        }
      }
      &.sidr-class-active > {
        a, span {
          // -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
          // -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
          // box-shadow: inset 0 0 15px 3px #ebebeb;
        }
      }
      a, span {
        padding: 0 15px;
        display: block;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }
      ul {
        border-bottom: none;
        margin: 0;
        li {
          border-bottom: none;
          line-height: 40px;
          font-size: 13px;
          &:last-child {
            border-bottom: none;
          }
          &:hover, &.active, &.sidr-class-active {
            // border-top: none;
            // line-height: 41px;
          }
          &:hover > {
            a, span {
              // -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
              // -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
              // box-shadow: inset 0 0 15px 3px #ebebeb;
            }
          }
          &.active > {
            a, span {
              // -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
              // -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
              // box-shadow: inset 0 0 15px 3px #ebebeb;
            }
          }
          &.sidr-class-active > {
            a, span {
              -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
              -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
              box-shadow: inset 0 0 15px 3px #ebebeb;
            }
          }
          a, span {
            //color: rgba(51, 51, 51, 0.8);
            text-transform: none;
            padding-left: 30px;
          }
        }
      }
    }
  }
}


.mobile-header {
  @include breakpoint($bp-medium) {
    display: none;
  }
}