.pplshift-circle2 {
	img {
		//transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0, 0, 0);
    	-moz-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
	}
	position: relative;
	width: 281px; height: 281px;
	background: url(circle.gif) no-repeat;
	@include transition(all, 2s);
	@include opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	&.fadeIn {
		@include opacity(1);
	}
}

.podium {
	z-index: 10;
	width: 125px; height: 41px;
	position: absolute;
	top: 85px; left: 80px;
}

.lady-front2 {
	width: 79px; height: 110px;
	position: absolute;
	top: 25px; left: 100px;
	@include transition(all, 2s);
	@include opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	&.fadeInUp {
		@include opacity(1);
		top: -12px; 
	}
}

.man-back2 {
	width: 124px; height: 111px;
	position: absolute;
	top: 135px; left: -53px;
	@include transition(all, 2s);
	@include opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	&.fadeInRight {
		@include opacity(1);
		left: -3px;
	}
}

.baby-back2 {
	width: 117px; height: 84px;
	position: absolute;
	top: 156px; left: 192px;
	@include transition(all, 2s);
	@include opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	&.fadeInLeft {
		@include opacity(1);
		left: 142px;
	}

}

.score {
	z-index: 20;
	width: 49px; height: 45px;
	position: absolute;
	top: 81px; left: 119px;
	@include transition(all, 2s);
	@include opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	&.fadeIn {
		@include opacity(1);
	}
}

.lt-ie9 .pplshift-circle2 img {
	background: transparent;
	//-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}