/*--------------------------------------------------------------------------
  
  Handy stuff

--------------------------------------------------------------------------*/

// Image Replacement
@mixin image-replace($width, $height) {
    width: $width;
    height: $height;
    display: block; 
    text-indent: -999em; 
    overflow: hidden; 
    background-repeat: no-repeat; 
    text-align: left; 
    direction: ltr;
}

// fix weird flicker effect on css transitions
@mixin flicker-fix {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

// Vertical align anything!
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Hide only visually, but have it available for screenreaders: by Jon Neal.

@mixin visuallyhidden {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
    // Allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 
    &.focusable:active,
    &.focusable:focuse {
        clip: auto; 
        height: auto; 
        margin: 0; 
        overflow: visible; 
        position: static; 
        width: auto;
    }
}


/*--------------------------------------------------------------------------
  
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100 

--------------------------------------------------------------------------*/

// column widths
@mixin grid($target, $context)    {width: (($target/$context)*100%);}

// margin widths
@mixin mleft($target, $context)   {margin-left: (($target/$context)*100%);}
@mixin mright($target, $context)  {margin-right: (($target/$context)*100%);}

// padding widths
@mixin pleft($target, $context)   {padding-left: (($target/$context)*100%);}
@mixin pright($target, $context)  {padding-right: (($target/$context)*100%);}


