/* ==========================================================================
   Imports/Partials
========================================================================== */

// Vendor Dependencies
@import "compass";			// http://compass-style.org
@include global-reset;		// Old school reset, requires compass
@import "breakpoint";		// http://breakpoint-sass.com

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

// Partials 
@import "vars";
@import "tools";
@import "typography";
@import "mobile-menu";
@import "layout"; 
@import "header";
@import "footer";
@import "home";
@import "innerpage";
@import "buttons";
@import "cake";
@import "itemshift";
@import "itemshift2";
@import "pplshift";
@import "pplshift2";
@import "taxi1";
@import "taxi2";
@import "equit";
@import "forms";
@import "tables";
@import "calc";
@import "nstSlider";

/* custom */
input.error, textarea.error, select.error {
  border: 1px solid #ff0000;  
}
p.error-msg {
  text-align:center;
  color:red;
  margin-bottom: 0;
}

p {
  word-wrap: break-word;
}

.calc-value {
  position: relative;
  top: -6px;
}

textarea {
  font-family: "Roboto",sans-serif;
}

a.no-underline:hover {
  border-bottom: 0;
}

a.no-underline {
  border-bottom: 0;
}

.ipt-small {
  min-width: 20%;
  min-width: 150px;
  max-width: 90%;
}

.ipt-med {
  min-width: 40%;
  min-width: 300px;
  max-width: 90%;
}

.checkboxes {
  margin-top: 5px;
  margin-left: 15px;
  font-size: .9375em;
}

/* accordion */
 .accordion {
  margin: 0;
  padding:10px;
  border-top:#f0f0f0 1px solid;
  background: #4D6585;
  text-decoration:none;
  text-transform:uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-open .symbol {
  display:block;
  float:right;
  padding:10px;
}
.accordion-open .symbol {
  background:url(../assets/minus.png) center center no-repeat;
  position: relative;
  top: -1px;
}
.accordion-close .symbol {
  display:block;
  float:right;
  background:url(../assets/plus2.png) center center no-repeat;
  padding:10px;
  position: relative;
  top: -2px;
}
div.accordion-container {
  padding:0;
  margin:0;
}
div.accordion-content {
  background:#fff;
  margin: 0;
  padding:10px;
}
div.accordion-content ul, div.content p {
  padding:0;
  margin:0;
  padding:3px;
}
div.accordion-content ul li {
  list-style-position:inside;
  line-height:25px;
}

.table-fairness tr td {
  padding: 0;
}

.mobile-nav a {
  font-size: 1.6em;
}

.seen-on {
  display:none;
}
@media (min-width: 48em){.seen-on {display:block;}}

@media (min-width: 48em){.btn-group {padding-top: 20px;}}

#btn-mailing-list {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #59df72;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: .6em;
  font-size: .8em;
  -moz-transition: all,0.25s;
  -webkit-transition: all,0.25s;
  transition: all,0.25s;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  height:29px;
}

#btn-mailing-list:hover{border:0;background:#456087}

#ipt-mailing-list {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  height:29px;
}

.loc {
  width: 80%;
  min-width: 200px;
  max-width: 500px;
}
