<div class="innerpage-banner">
    <div class="wrap">
        <div class="page-title">
            <h1>Assign Credit</h1>
        </div>
        <div class="banner-image">
            <%= image_tag "banners/sharing-credit.png", width: 250, height: 246, alt: "Assign credit for a project or order authors on a research paper" %>
        </div>
    </div><!--.wrap-->
</div><!--.innerpage-banner-->