<% provide(:title, 'Live Demo: Assign Credit') %>
<% provide(:description, "Determine how much each student contributed to a group project. With the live demo, you can experiment with the calculator and view the results on a single screen in a matter of seconds.") %>
<%= include_javascript 'demos/credit.js' %>

<%= render 'banner' %>

<div class="page-content">
    <div class="wrap">
        <h1>Live Demo</h1><br>
        <div class="accordion curved" id="basics">The Basics<span class="symbol"></span></div>
        <div class="accordion-container">
            <div class="accordion-content">
                <form>
                    <div class="form-row">
                        <div class="form-row">
                            <p id="basics-error" class="error-msg error-text"></p>
                        </div>
                        <div class="form-row">
                            <h2 style="margin-bottom:0">Project Contributors (comma-separated)</h2>
                            <%= text_field_tag :participants, "Alice, Bob, Claire, Daniel", maxlength: 150, style: "width:90%" %>
                        </div>
                        <%= submit_tag "   Update   ", class: "btn", onclick: "validateUpdateForm(); return false" %>
                    </div>
                </form>
            </div>
        </div>
        <div class="accordion" id="results">Results<span class="symbol"></span></div>
        <div class="accordion-container">
            <div class="accordion-content">
                <div id="update-results">
                    <p id="update-results-msg">Click the button to share the credit!</p>
                    <button id="submit-demo" type="button" class="btn update" onclick="checkBids(); return false">Get Results</button>
                </div>
                <br><br>
                <div id="results-table"></div>
            </div>
        </div>
    </div>
</div>