<div class="innerpage-banner">
    <div class="wrap">
        <div class="page-title-thin">
            <h1><%= locals[:title] %></h1>
        </div>
    </div><!--.wrap-->
</div><!--.innerpage-banner-->