<%= render 'layouts/text_banner', locals: { title: "Success" } %>

<div class="page-content">
    <div class="wrap">
      <% flash.each do |key, value| %>
            <% if key == :success %>
                <p class="lead-paragraph"><%= value %></p>
            <% end %>
      <% end %>   
    </div><!--.wrap-->
</div><!--.page-content-->